* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    text-align: center;
    font-family: "Poppins", sans-serif;
    height: 130vh;
    background: linear-gradient(70deg, rgb(222, 206, 228), #78DEC7);
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 80px;
    /* color: rgb(50, 205, 197); */
    font-family: 'Rowdies', cursive;
    background: none;
}
.textoborde{
    -webkit-text-fill-color: rgb(50, 205, 197);
    -webkit-text-stroke: 2.5px black;
    font-size: 90px;
}
header{
    width: 100%;     
    color: black;     
    height: 300px;     
    background: url('https://images-ext-2.discordapp.net/external/4fMYJHY1FbWzVpRn8i9PQE3OeVl3LYuWOtWnkixgYqg/https/cdn.pixabay.com/photo/2018/03/03/06/26/girl-3194977_960_720.jpg?width=772&height=515')no-repeat center center/cover;     
    /* background: url('./show\ case.jpeg' ) no-repeat center center/cover;  */     
    padding-bottom: 50px;     
    display: flex;     
    flex-direction: column;     
    align-items: center;     
    justify-content: flex-end;
}
/* h1{
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-size: 60px;
    display: inline-block;
    position: relative;
    color: #750550;
} */
body{
    height: 130vh;
}
h1::after,h1::before{
    content: " ";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}
h1::before{
    left: -270px;
    color: #FF008E;
}
h1::after{
    right: -270px;
    color: #FF008E;
}
.limpiar_float{
    float: none;
    clear: both;
}
.linea_titulo{
    word-spacing: 20px;
}
.img_danny{
    background-color: none;
    width: 140px;
    height: 250px;
    border-left: 100px;
    float: left;
    /* margin-left: 50px;
    margin-right: 100px; */
    margin-left: 200px;
    padding: 5px;
    border: 0.5px solid #0C1E7F;
    border-radius: 30px 0px 30px 0px;
   
}
.danny{
    width: 140px;
    border-radius: 30px 0px 30px 0px;
   
}
.nombre_danny{
    text-align: center;
  
}
.img_janis{
    background-color: none;
    width: 160px;
    float: left;
    margin-left: 150px;
    /* margin-right: 100px; */
}
.janis{
    width: 160px;
    border-radius: 30px 0px 30px 0px;
}
.nombre_janis{
    text-align: center;
}
.img_gabi{
    background-color: none;
    width: 180px;
    float: left;
    margin-left: 150px;
    /* margin-right: 100px; */
}
.gabi{
    width: 180px;
    border-radius: 30px 0px 30px 0px;
}
.nombre_gabi{
    text-align: center;
}
.img_ismael{
    background-color: none;
    width: 130px;
    float: left;
    margin-left: 150px;
}
.ismael{
    width: 130px;
    border-radius: 30px 0px 30px 0px;
}
.nombre_ismael{
    text-align: center;
}
.limpiar_float{
    float: none;
    clear: both;
}
.cuadro_texto{
    margin: 50px 100px 50px 100px;
    font-size: 30px;
    padding: 20px;
    background: linear-gradient(60deg, #54BAB9, #A267AC);
    border-radius: 20px 20px 20px 20px;
    text-align: justify;
}
.comilla{
    font-size: 30px;
}
.img_daniel{
    background-color: none;
    width: 140px;
    float: left;
    margin-left: 250px;
    margin-bottom: 80px;
    /* margin-right: 130px; */
}
.nombre_daniel{
    text-align: center;
}
.daniel{
    width: 130px;
    border-radius: 30px 0px 30px 0px;
}
.img_ignacio{
    background-color: none;
    width: 190px;
    float: left;
    margin-left: 200px;
    margin-bottom: 80px;
    /* margin-right: 130px; */
}
.ignacio{
    width: 190px;
    border-radius: 30px 0px 30px 0px;
}
.nombre_ignacio{
    text-align: center;
}
.img_jorge{
    background-color: none;
    width: 190px;
    float: left;
    margin-left: 250px;
    margin-bottom: 80px;
    /* margin-right: 40px; */
}
.jorge{
    width: 190px;
    border-radius: 30px 0px 30px 0px;
}
.nombre_jorge{
    text-align: center;
}
.img_daniel, .img_danny, .img_gabi, .img_ignacio, .img_ismael, .img_janis, .img_jorge{
    padding: 5px;
    border: 0.5px solid #750550;
    border-radius: 30px 0px 30px 0px;
}
.nombre_daniel, .nombre_danny, .nombre_gabi, .nombre_ignacio, .nombre_ismael, .nombre_janis, .nombre_jorge{
    font-size: 20px;
    font-weight: bold;
}

.fa-house {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.fa-circle-info {
    color: rgb(8, 8, 8);
    font-size: 12px;
    text-decoration: none;
}

.fa-money-bill-1 {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.fa-user-group {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.fa-comment-dots {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.iconos {
    margin: 10px 10px 10px 10px;
    padding-right: 70px;
    text-decoration: none;
    background: none;
}
a{
    margin-left: 70px;
    text-decoration: none;  
    font-size: 20px;
    background: none;
}
footer{
    display: block;
    background-image: linear-gradient(#698474,#B7EFCD,#96D1C7);
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 94%;
}
i{
    background: none;
}
@media only screen and (min-width: 769px) {
    main {
        margin-bottom: 3.6%;
    }
}
@media only screen and (max-width: 850px) {
    main {
        margin-bottom: 6%;
    }
}
audio{
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 260px;
    height: 50px;
}
.audio{
    display: block;
    width: 100%;
    text-align-last: left;
}

