#modo{
    display: inline-block;
    font-size: 41px;
    cursor: pointer;
    width: 0px;
    background: #000000;
    position: relative;
    bottom: 10px;
}
.dark{
    background: rgb(0, 0, 0);
}
.dark h1{
    color: aliceblue;
}
.dark #modo{
    color: aliceblue;
}
.dark .audio{
    background: black;
}
#modo i{
    background: none;
}
.dark h2{
    color: white;
}
.dark p{
    color: white;
}
.dark h3{
    color: white;
}
.dark .barra1{
    background: white;
}
.dark img{
    background: white;
}