#modo{
    width: 30;
    font-size: 42px;
    margin: auto;
    cursor: pointer;
}

.dark{
    background-color: #000000;
}

.dark h1{
    background: white;
}

.dark .descripcion{
    color: rgb(255, 255, 255);
}
.dark #modo{
    color: rgb(255, 255, 255);
}
.dark .card__perfil{
    background: rgb(16, 43, 51);
}
.dark p{
    color: rgb(211, 211, 211);
}
.dark h2{
    color: white;
}
.dark .enlace{
    background-color: rgb(61, 114, 114);
}
.dark .card__perfil:hover{
    border: solid green 2px;
}