* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(70deg, rgb(222, 206, 228), #78DEC7);
  }

  header{
    width: 100%;     
    color: black;     
    height: 300px;     
    background: url('https://images-ext-2.discordapp.net/external/4fMYJHY1FbWzVpRn8i9PQE3OeVl3LYuWOtWnkixgYqg/https/cdn.pixabay.com/photo/2018/03/03/06/26/girl-3194977_960_720.jpg?width=772&height=515')no-repeat center center/cover;     
    /* background: url('./show\ case.jpeg' ) no-repeat center center/cover;  */     
    padding-bottom: 50px;     
    display: flex;     
    flex-direction: column;     
    justify-content: flex-end;
}

.textoborde{
    -webkit-text-fill-color: rgb(50, 205, 197);
    -webkit-text-stroke: 2px black;
    font-size: 60px;
    background: none;
}

h1{
    margin: 20px 10px 0px 40px;
    background: none;
  
}

footer{
    display: block;
    background-image: linear-gradient(#698474,#B7EFCD,#96D1C7);
    height: 70px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 93%;
}

audio{
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 260px;
    height: 50px;
    background: none;
}

.fa-house {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.fa-circle-info {
    color: rgb(8, 8, 8);
    font-size: 12px;
    text-decoration: none;
}

.fa-money-bill-1 {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.fa-user-group {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.fa-comment-dots {
    color: rgba(0, 0, 0, 0.932);
    font-size: 12px;
    text-decoration: none;
}

.iconos {
    margin: 10px 10px 10px 10px;
    padding-right: 70px;
    text-decoration: none;
}
a{
    margin-left: 70px;
    text-decoration: none;  
    font-size: 20px;;
    background: none;
}

.abecedario{
    margin: 50px 50px 50px 50px;
    background: none;
}
.colores{
    margin: 50px 50px 50px 50px;
    background: none;
}

.cuerpo{
    margin: 50px 50px 50px 50px;
    background: none;
}

.figuras{
    margin: 50px 50px 50px 50px;
    background: none;
}

h4{
    font-size: 30px;
    color: #192965;
    text-align: center;
    padding: 5px;
    background: none;
}
section{
    padding: 23px;
    display: flex;
    justify-content: space-around;
    background: none;
}

nav{
    padding: 23px;
    display: flex;
    justify-content: space-around;
    background: none;
}
.iconos {
    margin: 10px 10px 10px 10px;
    padding-right: 70px;
    text-decoration: none;
    background-image: none;
}
i{
    background: none;
}
@media only screen and (min-width: 769px) {
    main {
        margin-bottom: 3.6%;
    }
}